    .custom-table thead {
      background-color: #343a40;
      color: #fff;
    }
    .custom-table tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    .page-heading {
      font-size: 2rem;
      font-weight: 600;
      color: #333;
      margin-bottom: 20px;
      text-align: center;
    }
    .back-btn {
      width: 200px;
    }
